.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
*.lock
node_modules/
build/
logs/
temp/
ca/
bin/
*.log
*.tar
*.tar.gz
*.7z
